<div class="container d-flex justify-content-around tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/Cold_Frog_Walking.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Frog</h5>
          <p class="card-text text-start">Os sapos podem saltar 8 blocos de altura e sofrem 10(♥♥♥♥♥) a menos de dano de queda comparado à maioria das outras criaturas. Os sapos preferem pular em vitórias-régias e plantaformas grandes
            Eles podem coaxar e inchar a sua garganta ocasionalmente.</p>
        <a href="#" class="btn btn-primary container-fluid">Veja o Sapo</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/Tropical_Frog_Walking.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Tropical-Frog</h5>
          <p class="card-text text-start">Os sapos podem saltar 8 blocos de altura e sofrem 10(♥♥♥♥♥) a menos de dano de queda comparado à maioria das outras criaturas. Os sapos preferem pular em vitórias-régias e plantaformas grandes
            Eles podem coaxar e inchar a sua garganta ocasionalmente.</p>
        <a href="#" class="btn btn-primary container-fluid">Veja o Sapo</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/Swamp_Frog_Walking.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Swamp-Frog</h5>
          <p class="card-text text-start">Os sapos podem saltar 8 blocos de altura e sofrem 10(♥♥♥♥♥) a menos de dano de queda comparado à maioria das outras criaturas. Os sapos preferem pular em vitórias-régias e plantaformas grandes
            Eles podem coaxar e inchar a sua garganta ocasionalmente.</p>
        <a href="#" class="btn btn-primary container-fluid">Veja o Sapo</a>
        </div>
      </div>
</div>

